.box {
    margin: 5%;
    border: 5px double black;
    padding: 10px;
    overflow: hidden;
}

.main {
    position: fixed;
    top: 0;
    left: 0;
    width: 65%;
}

.right-sidebar {
    position: fixed;
    top: 0;
    right: 0;
    width: 20%; /* Adjust as needed */
    background-color: #f0f0f0;
    padding: 15px;
}